
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/EmployeeBeforeLogin.cshtml";
}
<link href="~/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" />

<script src="~/jquery-ui-1.11.4.custom/jquery-ui.js"></script>

<link href="~/css/style.css" rel="stylesheet" />

<style>
    .firstCapital {
        text-transform: capitalize;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $(".txtdate").datepicker({ dateFormat: 'dd/mm/yy', changeYear: true, changeMonth: true, yearRange: '1920:2040' });
        $('#<%=btnsubmit.ClientID%>').click(function (e) {

        });
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#<%=txtemail.ClientID%>').focusout(function (e) {
            var val = document.getElementById("<%=txtemail.ClientID %>").value;
            if (val.indexOf('antheminfotech.com') !== -1) {
                e.preventDefault();
                alert("Please fill your personal email id.");
                document.getElementById("<%=txtemail.ClientID %>").value = '';
            }

        });

    });


</script>
<script type="text/javascript">
    function CancelClick() {
        document.getElementById("<%=txtname.ClientID %>").value = '';
        document.getElementById("<%=ddlgender.ClientID %>").value = '--Select Gender--';
        document.getElementById("<%=txtcontactnumber.ClientID %>").value = '';
        document.getElementById("<%=txtalternatenumber.ClientID %>").value = '';
        document.getElementById("<%=txtemail.ClientID %>").value = '';
        document.getElementById("<%=txtbirthday.ClientID %>").value = '';
        document.getElementById("<%=txtanniversary.ClientID %>").value = '';
        document.getElementById("<%=txtaddress.ClientID %>").value = '';
        document.getElementById('<%= fldimage.ClientID %>').style.color = 'transparent';
        document.getElementById('lblfile').style.display = '-moz-box';
        document.getElementById("<%=chkenabled.ClientID %>").checked = false;
        document.getElementById("<%=btnsubmit.ClientID %>").disabled = true;
    }
</script>
<script type="text/javascript">

    function validateFileSize() {

        var uploadControl = document.getElementById('<%= fldimage.ClientID %>');

        var fileName = uploadControl.value;
        var ext = fileName.substring(fileName.lastIndexOf('.') + 1);
        if (ext == "gif" || ext == "GIF" || ext == "JPEG" || ext == "jpeg" || ext == "jpg" || ext == "JPG" || ext == "PNG" || ext == "png") {
            if (uploadControl.files[0].size > 6291456) {
                alert('Size is larger than 6 Mb');
                uploadControl.value = "";
                uploadControl.style.color = 'transparent';
                document.getElementById('lblfile').style.display = '-moz-box';
                return false;
            }
            else {
                document.getElementById('lblfile').style.display = 'none';
                document.getElementById('<%= fldimage.ClientID %>').style.color = 'black';
                return true;
            }
        }
        else {
            alert('Upload Image Only');
            uploadControl.value = "";
            uploadControl.style.color = 'transparent';
            document.getElementById('lblfile').style.display = '-moz-box';
            return false;
        }
    }
</script>
<script>
    $(document).ready(function () {
        var checkboxes = $("input[type='checkbox']"),
            submitButt = $("input[type='submit']");

        checkboxes.click(function () {
            submitButt.attr("disabled", !checkboxes.is(":checked"));
        });
    });
</script>
<script type="text/javascript">
    $(window).load(function () {
        document.getElementById("<%=btnsubmit.ClientID %>").disabled = true;
    });
</script>
<script type="text/javascript">
        function ShowProgress() {
            setTimeout(function () {
                var modal = $('<div />');
                modal.addClass("modal");
                $('body').append(modal);
                var loading = $(".loading");
                loading.show();
                var top = Math.max($(window).height() / 2 - loading[0].offsetHeight / 2, 0);
                var left = Math.max($(window).width() / 2 - loading[0].offsetWidth / 2, 0);
                loading.css({ top: top, left: left });
            }, 200);
        }
        $('form').live("submit", function () {

            var name = $('#slider_txtname').val();
            var gender = $('#slider_ddlgender').val();
            var contact = $('#slider_txtcontactnumber').val();
            var alternate = $('#slider_txtalternatenumber').val();
            var email = $('#slider_txtemail').val();
            var birthday = $('#slider_txtbirthday').val();

            var address = $('#slider_txtaddress').val();
            var image = $('#slider_fldimage').val();
            @*var exp = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;*@
            if (name == "" || gender == "--Select Gender--" || contact == "" || alternate == "" || email == "" || birthday == "" || address == "" || image.length <= 0) {
            }
            else {
                if (contact.match(/^\d+$/) && alternate.match(/^\d+$/) && contact.length == 10 && alternate.length == 10) {
                    if (email.match(exp)) {
                        ShowProgress();
                    }
                }
            }
        });
</script>
<style>
    a:visited {
        color: #428BCA;
        text-decoration: none;
    }

    a {
        color: #428BCA;
        text-decoration: none;
    }
</style>
<style>
    .align {
        float: left;
        margin-left: 0px;
    }

    .space {
        margin-left: 5px;
    }

    .textbox {
        width: 400px;
        height: 40px;
    }

    input[type='file'] {
        color: transparent;
    }

    label {
        font-weight: 500;
        padding-left: 3px;
    }

    td {
        padding-top: 7px;
    }

    a.MultiFile-remove {
        margin-left: 33px;
    }

    div.MultiFile-label {
        float: left;
        margin-left: -189px;
    }

    .auto-style1 {
        width: 450px;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -webkit-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }

    .loading {
        font-family: Arial;
        font-size: 10pt;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -webkit-opacity: 0.8;
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        background-color: black;
        z-index: 999;
        padding: 173px;
    }
</style>
<div class="container" style="padding-top:20px;">
    <div style="float: left;" class="col-md-4">
        <p runat="server" id="hupcoming" style="margin-left: 15px; color: #626262;">Upcoming Occasions</p>
        <table id="example" ForeColor="#333333" Font-Size="Small">
            <thead>
                <tr>
                    <th style="width:220px;background-color:#3A5795;font-weight:bold;text-align:center;height:40px;color:white;">Name</th>
                    <th style="width:200px;background-color:#3A5795;font-weight:bold;text-align:center;height:40px;color:white;">Occassion</th>
                    <th style="width:180px;background-color:#3A5795;font-weight:bold;text-align:center;height:40px;color:white;">Date</th>
                    <th style="width:100px;background-color:#3A5795;font-weight:bold;text-align:center;height:40px;color:white;">Day</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @ViewBag.occasionlist)
                {
                    @if (Convert.ToDateTime(item.Date) < DateTime.Now)
                    {
                        <tr style="text-decoration:line-through;">

                            <td>@item.Name</td>
                            <td>@item.Type</td>
                            <td>@item.Date</td>
                            <td>@item.Day</td>
                        </tr>
                    }
                    else
                    {
                        <tr style="font-weight:bold;">
                            <td>@item.Name</td>
                            <td>@item.Type</td>
                            <td>@item.Date</td>
                            <td>@item.Day</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <br />
        <br />
        <div class="dvhideimage" runat="server" id="dvhideimage" visible="false">
            <img src="image/2.png" height="auto" width="100%" style="padding-top:85px;" />
        </div>

    </div>

    <div class="col-md-4 table-responsive">

        <p runat="server" id="P3" style="color: #626262;">Sign Up</p>
        <table>
            <tr>
                <td>
                    <input type="text" id="txtname" class="form-control align textbox firstCapital" placeholder="Name" MaxLength="50" />
                </td>
            </tr>
            <tr>
                <td>
                    <select id="ddlgender" class="form-control align textbox">
                        <option value="null">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding-right: 30px;">
                    <input type="text" id="txtcontactnumber" class="form-control align textbox firstCapital" placeholder="Contact Number" MaxLength="10" Style="width: 195px;" />
                </td>
                <td>
                    <input type="text" id="txtalternatenumber" class="form-control align textbox td_Form" placeholder="Alternate Number" MaxLength="10" Style="width: 195px;margin-left:-195px;" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="email" id="txtemail" class="form-control align textbox " placeholder="Personal Email Id" MaxLength="50" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="txtbirthday" class="form-control align " OnKeyDown="return false;" placeholder="Personal Email Id" Width="364" Height="40" Style="width: 195px; padding-right: 30px;" />
                </td>
                <td>
                    <input type="text" id="txtanniversary" class="form-control txtdate align textbox td_Form " OnKeyDown="return false;" placeholder="Anniversary Date" Width="364" Height="40" Style="width: 195px;margin-left:-195px;" />
                </td>
            </tr>
            <tr>
                <td>
                    <textarea id="txtaddress" class="form-control align textbox" maxlength="500" runat="server" placeholder="Contact Address"></textarea>

                </td>
            </tr>
            <tr>

                <td>
                    <input type="file" FileUpload ID="fldimage" Class="align form-control" ToolTip="Upload Photo" runat="server" maxlength="1" onchange="validateFileSize();" Text="Upload Photo" Style="padding-bottom: 31px; width: 400px; padding-top: 0px;margin-left: 0px;" />
                    <label style="font-weight: 500; margin-left: -280px; margin-top: 7px;" id="lblfile">Upload Photo</label>

                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" runat="server" id="chkenabled" style="float: left" />
                    <label style="margin-left: 17px; margin-top: -17px;">I here by declare that above filled information is correct to my knowledge and as per my verified identity proof.</label>
                </td>
            </tr>
        </table>
        <div class="Media_FormButtons">
            <button id="btnsubmit" class="btn btn-primary btn-clear" onclick="CancelClick();return false;" causesvalidation="false" style="font-family: Verdana; padding: 9px 55px; font-size: 14px;margin-left: 0px;" runat="server">Submit</button>

            <button id="btnclear" class="btn btn-primary btn-clear" onclick="CancelClick();return false;" causesvalidation="false" style="font-family: Verdana; padding: 9px 55px; font-size: 14px;" runat="server">Clear</button>

        </div>
    </div>
</div>